* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 26px;
    color: white;
    background-color: dodgerblue;
}

form.form {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

select.js-search-state {
    height: 200px;
    text-align: left;
    padding-left: 5px;
    border-radius: 0;
}


select,
input {
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    margin: 10px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

input[type='number'] {
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type='submit'] {
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

li {
    margin: 30px auto;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    max-width: 900px;
}

a {
    text-decoration: none;
    color: #1e1eff;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}